{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 140,
  "importOrder": [
    "^types$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}